*{
  box-sizing: border-box;
  font-family: 'Nunito Sans', sans-serif;
  
}

body{
  margin: 0;
  padding: 0;
  height: 100vh;
}
.nav-bar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 6rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.main-details-container{
  height:100vh;
}

.dark-light-mode{
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.mode{
  margin-left:0.6rem;
}
.search-country-region-container{
  display: flex;
  justify-content: space-between;
  padding: 0rem 5rem;
  padding-top: 30px;
}

.seacrh-container{
  position:relative;
  margin: 0rem 2rem;
}
.search-icon{
  position: absolute;
  padding-top: 15px;
  padding-left: 30px;
}
.search-input{
  background-position: right center;
  margin-left: 20px;
  width:20rem;
  height: 3rem;
  border-radius: 0.5rem;
  padding-left: 40px;
  border:none;
}
.region-search{
  width:20rem;
  height: 3rem;
  font-size:14px;
  border-radius: 0.5rem;
  border:none;
}
.countries-container{
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin:1rem;
}
.each-county-container{
  width:21%;
  margin: 2rem;
  height:40%;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.25);
  border-radius: 0.6rem;
}
.each-country-data{
  color: black;
  text-decoration: none;
}
.flag{
  width:100%;
  height:200px;
  border-top-left-radius: 0.6rem;
  border-top-right-radius: 0.6rem;
}
.country-details{
  margin-left: 2rem;
}
.country-details-container{
  padding:6rem;
}
.back-btn{
  text-decoration: none;
  text-align: center;
}
.back-btn-container{
  width:150px;
  height:40px;
  box-shadow: 0px 0px 8px rgba(0,0,0,0.25);
  border-radius: 0.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.country-container{
  display: flex;
  margin-top: 100px;
  justify-content: space-between;
}
.flag-image{
  width:500px;
  height: 300px;
}
.details-container{
  width: 50%;
}
.country-data{
  display: flex;
  justify-content: space-between;
}
.country-details-name{
  font-size: 30px;
  font-weight: 700;
}
.details-head{
  font-size: 16px;
  font-weight: 600;
}
span{
  font-weight: 400;
}
.details-head-border{
  font-size: 16px;
  font-weight: 600;
  display: flex;
  align-items: center;
}
.border{
  margin:10px;
  width:80px;
  height:30px;
  box-shadow: 0px 0px 4px rgba(0,0,0,0.1);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  text-decoration: none;
  color:hsl(209, 23%, 22%);
}

.dark {
  background-color:hsl(209, 23%, 22%) ;
  color:hsl(0, 0%, 98%);
}

.light {
  background-color:hsl(0, 0%, 96%);
  color:hsl(200, 15%, 8%);
}
.main-dark{
  background-color:hsl(207, 26%, 17%);
  color:hsl(0, 0%, 98%);
}

.inputs-search{
  background-color:hsl(0, 0%, 100%);
  color:hsl(200, 15%, 8%);
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
}
.navbar-light{
  background-color:hsl(0, 0%, 100%);
  color:hsl(200, 15%, 8%);
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
}
.no-error-message{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}
.loading{
  text-align: center;
}